extends ./layouts/_global.jade

block header
	include ./partials/_header.jade

block mainnav
	include ./partials/_mainnav.jade

block content
	-var carouselItems = [{img: "./assets/img/carousel-1.jpg", speech_color: 'green', link:{text: 'More info for doctors', href: '#'}, speech_title: 'Lorem ipsum duplet saram?', speech_content: 'Lorem pisum duplete saram lorem ipsum.'},{	img: "./assets/img/carousel-1.jpg",	 speech_color: 'purple', link:{text: 'More info for doctors', href: '#'}, speech_title: 'Lorem ipsum duplet saram?', speech_content: 'Lorem pisum duplete saram lorem ipsum.'},{ img: "./assets/img/carousel-1.jpg",  speech_color: 'yellow', link:{text: 'More info for doctors', href: '#'}, speech_title: 'Lorem ipsum duplet saram?', speech_content: 'Lorem pisum duplete saram lorem ipsum.'}]

	-var contentMenuItems = [{img: "//lorempixel.com/480/270/people", title:'Clinics', overlay:'lightOrange'},{img: "//lorempixel.com/480/270/people", title:'International Projects', overlay:'lightGreen'},{img: "//lorempixel.com/480/270/people", title:'Research', overlay:'lightYellow'},{img: "//lorempixel.com/480/270/people", title:'Education & Training', overlay:'lightBlueGreen'}]
	
	.owl-carousel.owl-theme.main-carousel
		each item in carouselItems
			.item.main-carousel__item
				img(src=item.img, alt="")
				div(class="speech-box speech-box--opaque main-carousel__speech-box speech-box--" + item.speech_color)
					.main-carousel__speech-box__triangle
					.speech-box__content.speech-box__content--vertical-center-quote
						.speech-box__quote.main-carousel__speech-box__quote
							strong.main-carousel__speech-box__title=item.speech_title
							p.main-carousel__speech-box__description= item.speech_content
							.main-carousel__speech-box__cta
								a.main-carousel__speech-box__cta__link(href=item.link.href)=item.link.text
								i.icon.icon-arrow-right-2

	.container
		.wrapper
			.row.content-row
				each item in contentMenuItems
					.col-xs-6.content-col
						.box.mh-mh1
							img.box__background-image.img-responsive(src=item.img)
							div(class="box__overlay box__overlay--opaque box__overlay--" + item.overlay)
							strong.box__title=item.title
			
block footer
	include ./partials/_footer.jade