-var footerSitemap1 = [{ "title": "About us", "href": "#", "isTitle": true },{ "title": "Who we are", "href": "#" },	{ "title": "Advocacy", "href": "#" },{ "title": "Membership", "href": "#" },{ "title": "Consumer engagement framework", "href": "#" },{ "title": "Support our work", "href": "#" },{ "title": "Employment", "href": "#" }]

-var footerSitemap2 = [{ "title": "Who we help", "href": "#", "isTitle": true  },{ "title": "Aboriginal & Torrest Strait Islander", "href": "#" },{ "title": "Non-english speaking", "href": "#" },{ "title": "Youth", "href": "#" },{ "title": "LGBTI", "href": "#" },{ "title": "Rural & remote", "href": "#" }]

-var footerSitemap3 = [{"title": "Media and news", "href": "#", "isTitle": true },{"title": "Media", "href": "#"}, {"title": "Our work", "href": "#"},{"title": "Newsletters", "href": "#"},{"title": "Speakers panel", "href": "#"}]

-var footerSitemap4 = [{"title": "Get involved", "href": "#", "isTitle": true},{"title": "Donate", "href": "#"},{"title": "Corporate sponsorship", "href": "#"},{"title": "Careers", "href": "#"},{"title": "Bookshop", "href": "#", "isTitle": true}]

-var footerNavlist = [{ "title": "Privacy", "href": "#" },{ "title": "Copyright & disclaimer", "href": "#" },{ "title": "Feedback & complaints", "href": "#" },	{ "title": "Webmail login", "href": "#" },{ "title": "Sitemap", "href": "#" },{ "title": "Contact us", "href": "#" }]

-var footerSocialIcons = [{icon: 'facebook', img: '/assets/img/1.jpg', color: 'orange', href: '#' },{icon: 'twitter', img: './assets/img/2.jpg', color: 'green', href: '#' },{icon: 'youtube', img: './assets/img/3.jpg', color: 'lightBlueGreen2', href: '#' },{icon: 'instagram', img: './assets/img/1.jpg', color: 'purple', href: '#' },{icon: 'linkedin', img: './assets/img/2.jpg', color: 'lightGreen', href: '#' },{icon: 'tumblr', img: './assets/img/3.jpg', color: 'lightGrey', href: '#' }]

block footer
	.container
		.wrapper
			.footer-top.row
				.footer-top-left.col-md-9
					ul.footer-social-icons-list.row
						each item in footerSocialIcons
							li.footer-social-icons-list-item.col-xs-2
								a.footer-social-icons-link(href=item.href)
									img.footer-social-icons-img(src=item.img, alt=item.icon)
									div(class="footer-social-icons-overlay footer-social-icons-overlay--" + item.color)
									.footer-social-icons-icon
										i.icon(class='icon-' + item.icon)
									.footer-speech-bubble-mask
				.footer-top-right.col-md-3
					.footer-top-right-title Partner logos:
					img.footer-top-right-img(src="/assets/img/acfid-logo.jpg")
			
			.footer-divider

			.footer-bottom.row
				.footer-bottom-left.col-md-9
					.footer-sitemaps
						ul.footer-sitemaps-list.col-xs-12.col-sm-6.col-md-3(data-mh="mh-sitemap")
							each item in footerSitemap1
								li(class='footer-sitemaps-list-item'+ ((item.isTitle) ? ' footer-sitemaps-list-item--title' : ''))
									a(href=item.href, title=item.title, class= 'footer-sitemaps-list-link' + ((item.isTitle) ? ' footer-sitemaps-list-link--title' : ''))= item.title

						ul.footer-sitemaps-list.col-xs-12.col-sm-6.col-md-3(data-mh="mh-sitemap")
							each item in footerSitemap2
								li(class='footer-sitemaps-list-item'+ ((item.isTitle) ? ' footer-sitemaps-list-item--title' : ''))
									a(href=item.href, title=item.title, class= 'footer-sitemaps-list-link' + ((item.isTitle) ? ' footer-sitemaps-list-link--title' : ''))= item.title

						ul.footer-sitemaps-list.col-xs-12.col-sm-6.col-md-3(data-mh="mh-sitemap")
							each item in footerSitemap3
								li(class='footer-sitemaps-list-item'+ ((item.isTitle) ? ' footer-sitemaps-list-item--title' : ''))
									a(href=item.href, title=item.title, class= 'footer-sitemaps-list-link' + ((item.isTitle) ? ' footer-sitemaps-list-link--title' : ''))= item.title

						ul.footer-sitemaps-list.col-xs-12.col-sm-6.col-md-3(data-mh="mh-sitemap")
							each item in footerSitemap4
								li(class='footer-sitemaps-list-item' + ((item.isTitle) ? ' footer-sitemaps-list-item--title' : ''))
									a(href=item.href, title=item.title, class= 'footer-sitemaps-list-link' + ((item.isTitle) ? ' footer-sitemaps-list-link--title' : ''))= item.title
					
					

				.footer-bottom-right.col-xs-12.col-md-3
					.row
						.col-xs-6.col-md-12
							.footer-talkline
								p.footer-talkline-intro Call our Talkline to chat with us
								strong.footer-talkline-number 1300 658 886
						.col.xs-6.col-md-12
							.footer-bottom-right-logo
								img(src="/assets/img/easy-english.jpg", alt="Easy English logo")

				.footer-nav.col-xs-12
						ul.footer-nav-list
							each item in footerNavlist
								li.footer-nav-list-item
									a.footer-nav-list-link(href=item.href, title=item.title)= item.title